<% if @list.nil? %>
  <%= link_to "New To-Do List", new_list_path, class: 'btn btn-success' %>
<% end %>

<h1><%= @list.title %></h1>

<div class="panel panel-primary">
  <!-- <div class="panel-heading"><%= @list.title %></div> -->
    <table class="table table-bordered">
      <tr>
        <th>To-Do Item</th>
        <th class="text-center">Time Remaining</th>
        <th class="text-center">Mark Complete</th>
      </tr>
      <%= render partial: 'items/item', collection: @items %>
      <tr>
        <td><%= render partial: 'items/form', locals: {list: @list} %></td>
        <td></td>
        <td></td>
      </tr>
</table>
</div>
<%= link_to "Edit List Name", edit_list_path, class: 'btn btn-success' %>

<%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this list?" } %>

